@model NEW_WEB_FYP.Models.ViewModels.NewsArticleVm

@{
    ViewData["Title"] = Model.newsArticle.NewsId == 0 ? "Create" : "Update";
}

<h1>@ViewData["Title"]</h1>
<h4>News Article</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateUpdate" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="newsArticle.NewsId" />
            <input type="hidden" asp-for="newsArticle.ImageUrl" />

            <div class="form-group">
                <label asp-for="newsArticle.Title" class="control-label"></label>
                <input asp-for="newsArticle.Title" class="form-control" />
                <span asp-validation-for="newsArticle.Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="newsArticle.CategoryID" class="control-label">Category</label>
                <select asp-for="newsArticle.CategoryID" asp-items="@(new SelectList(Model.Categories ?? new List<SelectListItem>(), "Value", "Text"))" class="form-control">
                    <option selected disabled>--Select Category--</option>
                </select>
                <span asp-validation-for="newsArticle.CategoryID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="newsArticle.ImageUrl" class="control-label"></label>
                <input type="file" name="file" class="form-control" />
                <span asp-validation-for="newsArticle.ImageUrl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="newsArticle.Author" class="control-label"></label>
                <input asp-for="newsArticle.Author" class="form-control" />
                <span asp-validation-for="newsArticle.Author" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="newsArticle.Content" class="control-label"></label>
                <textarea asp-for="newsArticle.Content" class="form-control"></textarea>
                <span asp-validation-for="newsArticle.Content" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="@ViewData["Title"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
